[APPEND] langchain-community==0.2.16
langchain-pinecone==0.1.4
neo4j==6.0.0
pinecone-client==5.0.1
sentence-transformers==3.1.1
xgboost==2.1.1
transformers==4.46.3
torch==2.5.1
newsapi-python==0.2.7
accelerate==1.1.1